openapi: 3.1.0
info:
  title: MyShopEdge API
  version: 0.3.0
  description: "The MyShopEdge REST API. Bookkeeping and finance for UK TikTok Shop sellers.\n\nThis document\
    \ covers the seventeen endpoints that can be built without validated\nTikTok data, plus the shared\
    \ components every other endpoint will use. The\nconventions are those already set in MSE-API-001\
    \ section 4.1 and are restated here\nas schemas so they are enforced rather than described.\n\nFour\
    \ rules govern every response in this document.\n\n1. **Money is never a decimal.** Every amount is\
    \ an integer of minor units with its\n   currency beside it. A figure of 20.84 is `{\"amount_minor\"\
    : 2084, \"currency\": \"GBP\"}`.\n   Pence do not round, and a float would make them.\n\n2. **Instants\
    \ are UTC, periods are Europe/London.** A timestamp is ISO 8601 with a Z.\n   A day or a month is\
    \ a local date, because a seller's day is a London day and a VAT\n   quarter is a London quarter.\n\
    \n3. **A figure carries its own confidence.** Any response holding a money figure the\n   seller will\
    \ act on states its basis, its period and its cost coverage, and says\n   whether it is confirmed,\
    \ estimated or incomplete. A figure that cannot be trusted\n   returns null with a reason rather than\
    \ a zero.\n\n4. **Errors are problem details with a stable code.** The `code` field is the\n   contract.\
    \ The `title` and `detail` are for humans and may change wording.\n\n\n    Coverage: 58 of the 59\
    \ endpoints in the catalogue. The one not present is the\n    TikTok webhook receiver, which needs\
    \ a subscription design and is deferred.\n"
  contact:
    name: MyShopEdge
  license:
    name: Proprietary
servers:
- url: https://api.myshopedge.com/v1
  description: Production
- url: https://api.staging.myshopedge.com/v1
  description: Staging
security:
- bearerAuth: []
tags:
- name: Account
  description: The signed-in account, its data export and its deletion
- name: Connection
  description: Authorising, listing and disconnecting a TikTok Shop
- name: Notifications
- name: Tax
  description: Tax profile, dates and the quarterly threshold check
- name: Settings
- name: Costs
- name: Integrity
- name: Money
- name: Products
- name: Stock
- name: Returns
- name: Exports
paths:
  /me:
    get:
      tags:
      - Account
      summary: The signed-in account
      description: 'The account is taken from the bearer token. There is no path parameter, because

        an account can only ever read itself.

        '
      operationId: getMe
      responses:
        '200':
          description: The account
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '304':
          $ref: '#/components/responses/NotModified'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '429':
          $ref: '#/components/responses/RateLimited'
    delete:
      tags:
      - Account
      summary: Delete the account and its data
      description: 'Traces ACC-4. Deletion is asynchronous and irreversible. It removes the account''s

        rows and every object under its prefixes in the file store.


        The response states what will be deleted and when, so the seller has a record of

        what they asked for. `invoices_retained_until` is present when the account holds

        TikTok fee invoices, which are kept for six years from the end of the VAT period

        rather than deleted with the account.

        '
      operationId: deleteMe
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - confirm_email
              properties:
                confirm_email:
                  type: string
                  format: email
                  description: Must match the account email exactly. Guards against a mis-click.
                reason:
                  type: string
                  maxLength: 500
      responses:
        '202':
          description: Deletion accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletionAcknowledgement'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'
  /me/export:
    post:
      tags:
      - Account
      summary: Request a download of the account's data
      description: 'Traces ACC-4. Generates a single archive of everything held about the account and

        returns a job. Poll the job, or wait for the notification, then follow

        `download_url` when the status is `ready`.


        `download_url` is a signed URL valid for fifteen minutes. It is absent until the

        job is ready.

        '
      operationId: requestAccountExport
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '202':
          description: Export queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportJob'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '409':
          description: An export is already in progress for this account
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'
  /connections/tiktok/authorize:
    post:
      tags:
      - Connection
      summary: Begin authorising a TikTok Shop
      description: 'Traces CON-1. Returns the URL to send the seller to. The `state` value is single

        use, expires in ten minutes and is bound to this account. The callback rejects any

        state it did not issue.

        '
      operationId: authorizeTikTok
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                return_to:
                  type: string
                  format: uri
                  description: 'Where to send the seller after the callback completes. Must be an

                    allow-listed MyShopEdge path. An open redirect here would be an

                    account takeover.

                    '
      responses:
        '201':
          description: Authorisation URL issued
          content:
            application/json:
              schema:
                type: object
                required:
                - authorization_url
                - state
                - expires_at
                properties:
                  authorization_url:
                    type: string
                    format: uri
                  state:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '429':
          $ref: '#/components/responses/RateLimited'
  /connections/tiktok/callback:
    get:
      tags:
      - Connection
      summary: Complete authorisation
      description: 'Traces CON-1. TikTok redirects the seller here. The handler exchanges the code,

        calls `GET /authorization/202309/shops`, and stores the shop id, cipher, region

        and seller type.


        **The region and seller type are not cosmetic.** A shop outside `GB`, or a

        cross-border seller, returns a different field set on every finance call. The

        connection is recorded with `connection_status` of `pending` and the response

        states the region so the interface can refuse a shop the MVP cannot read

        correctly, rather than showing wrong figures.


        This endpoint is reached by browser redirect, not by the client application, and

        is therefore not authenticated by bearer token. It is authenticated by the

        single-use `state`.

        '
      operationId: tiktokCallback
      security: []
      parameters:
      - name: code
        in: query
        required: true
        schema:
          type: string
      - name: state
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Authorisation complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionResult'
        '400':
          description: 'The state was unknown, already used or expired, or the code exchange failed.

            The detail never echoes the code or the state back.

            '
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /shops:
    get:
      tags:
      - Connection
      summary: List the account's shops
      description: 'Traces CON-3. The MVP supports one shop per account, so this returns at most one

        entry. It is a list because the schema permits more and the interface should not

        have to change when that becomes true.

        '
      operationId: listShops
      responses:
        '200':
          description: The shops on this account
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                type: object
                required:
                - shops
                properties:
                  shops:
                    type: array
                    items:
                      $ref: '#/components/schemas/Shop'
        '304':
          $ref: '#/components/responses/NotModified'
        '401':
          $ref: '#/components/responses/Unauthenticated'
  /shops/{shopId}/connection:
    delete:
      tags:
      - Connection
      summary: Disconnect the shop
      description: 'Traces CON-3. Revokes the authorisation with TikTok, clears the stored tokens and

        sets `connection_status` to `disconnected`.


        **Disconnecting does not delete data.** The seller''s orders, ledger and costs

        remain, and reconnecting the same shop resumes against them. The response states

        this, because a seller who believes disconnecting erased their records will be

        wrong in a way that matters.

        '
      operationId: disconnectShop
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: Disconnected
          content:
            application/json:
              schema:
                type: object
                required:
                - shop_id
                - connection_status
                - data_retained
                properties:
                  shop_id:
                    type: string
                    format: uuid
                  connection_status:
                    type: string
                    const: disconnected
                  data_retained:
                    type: boolean
                    const: true
                    description: Always true. Disconnecting never deletes records.
                  revoked_at:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
        '404':
          $ref: '#/components/responses/NotFound'
  /shops/{shopId}/sync:
    get:
      tags:
      - Connection
      summary: Sync progress and freshness
      description: 'Traces SYN-1 and SYN-6. Reports the state of each sync domain and the freshness

        stamp the interface shows.


        `stale` is true when the newest successful run is older than its domain''s expected

        interval. A seller looking at figures from a failed sync must be told, not left to

        assume the numbers are current.

        '
      operationId: getSyncStatus
      parameters:
      - $ref: '#/components/parameters/ShopId'
      responses:
        '200':
          description: Sync status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncStatus'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
        '404':
          $ref: '#/components/responses/NotFound'
  /notifications:
    get:
      tags:
      - Notifications
      summary: List notifications
      description: Traces NTF-1. Newest first.
      operationId: listNotifications
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      - name: status
        in: query
        schema:
          type: string
          enum:
          - unread
          - read
          - done
      - name: severity
        in: query
        schema:
          type: string
          enum:
          - info
          - warning
          - critical
      responses:
        '200':
          description: Notifications
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CursorPage'
                - type: object
                  required:
                  - notifications
                  properties:
                    notifications:
                      type: array
                      items:
                        $ref: '#/components/schemas/Notification'
                    unread_count:
                      type: integer
                      minimum: 0
        '401':
          $ref: '#/components/responses/Unauthenticated'
  /notifications/{notificationId}:
    patch:
      tags:
      - Notifications
      summary: Mark a notification read or done
      operationId: updateNotification
      parameters:
      - name: notificationId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - status
              properties:
                status:
                  type: string
                  enum:
                  - read
                  - done
                  description: 'A notification cannot be returned to `unread`. The transition is one

                    way, so a seller cannot lose track of what they have already dealt with.

                    '
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /tax-profile:
    get:
      tags:
      - Tax
      summary: Read the tax profile
      description: 'Traces TAX-1. The profile is optional. An account that has not filled it in

        returns `completed: false` with null fields rather than a 404.

        '
      operationId: getTaxProfile
      responses:
        '200':
          description: The tax profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxProfile'
        '401':
          $ref: '#/components/responses/Unauthenticated'
    put:
      tags:
      - Tax
      summary: Save the tax profile
      description: 'Traces TAX-1. A full replacement, not a patch. Omitting a field clears it.


        `vat_registered_from` is required when `vat_registered` is true, because a VAT

        monitor without a registration date cannot say which periods are in scope.

        '
      operationId: putTaxProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaxProfileInput'
      responses:
        '200':
          description: Saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxProfile'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /tax/dates:
    get:
      tags:
      - Tax
      summary: Quarterly and payment dates
      description: 'Traces TAX-4. Dates are local dates in Europe/London. Every date carries the rule

        it came from and the date that rule was last reviewed, so a seller can see the

        figure is current rather than trusting it.

        '
      operationId: getTaxDates
      parameters:
      - name: tax_year
        in: query
        description: UK tax year starting year. Defaults to the current one.
        schema:
          type: integer
          minimum: 2020
          maximum: 2100
      responses:
        '200':
          description: Dates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxDates'
        '401':
          $ref: '#/components/responses/Unauthenticated'
  /tax/quarterly-check:
    post:
      tags:
      - Tax
      summary: Compare prior-year gross income with the thresholds
      description: 'Traces TAX-5. Takes the figures the seller supplies for income outside MyShopEdge

        and compares the total with the current thresholds.


        This returns a comparison, not advice. `above_threshold` states a fact about a

        number. It does not tell the seller to register for anything, and the response

        carries no recommendation field by design.

        '
      operationId: quarterlyCheck
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - prior_year_gross
              properties:
                prior_year_gross:
                  $ref: '#/components/schemas/Money'
                tax_year:
                  type: integer
                  minimum: 2020
                  maximum: 2100
      responses:
        '200':
          description: Comparison
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuarterlyCheck'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /rules:
    get:
      tags:
      - Tax
      summary: Reference rules with correct-as-at dates
      description: 'Traces TAX-6. Shared reference data: VAT, income tax, National Insurance and MTD

        rules with the dates they take effect.


        These rules are identical for every seller, which is why `reference_rules` is the

        one table without row-level security. It is read-only through this API.

        '
      operationId: listRules
      parameters:
      - name: rule_set
        in: query
        schema:
          type: string
          enum:
          - vat
          - income_tax
          - national_insurance
          - mtd
      - name: effective_on
        in: query
        description: Return the rules in force on this local date. Defaults to today.
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Rules
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                type: object
                required:
                - rules
                properties:
                  rules:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReferenceRule'
        '304':
          $ref: '#/components/responses/NotModified'
        '401':
          $ref: '#/components/responses/Unauthenticated'
  /shops/{shopId}/alert-settings:
    get:
      tags:
      - Settings
      summary: Read alert thresholds
      description: Traces STK-3.
      operationId: getAlertSettings
      parameters:
      - $ref: '#/components/parameters/ShopId'
      responses:
        '200':
          description: Alert settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertSettings'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
      - Settings
      summary: Change alert thresholds
      description: 'Traces STK-3 and STK-8. A full replacement.


        `absorption_tolerance_units` is the ceiling on silently absorbing an unexplained

        rise in TikTok stock. Above it, a discrepancy is raised instead, because absorbing

        a large figure quietly does more damage than the duplicate it prevents.

        '
      operationId: putAlertSettings
      parameters:
      - $ref: '#/components/parameters/ShopId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertSettingsInput'
      responses:
        '200':
          description: Saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertSettings'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /shops/{shopId}/cost-uploads:
    get:
      operationId: listCostUploads
      summary: Cost files the seller has uploaded
      tags:
      - Costs
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Uploads, most recent first
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CursorPage'
                - type: object
                  required:
                  - uploads
                  properties:
                    uploads:
                      type: array
                      items:
                        $ref: '#/components/schemas/CostUploadSummary'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
    post:
      tags:
      - Costs
      summary: Create a cost upload and return a signed URL
      description: 'Traces CST-2. Returns a signed URL to PUT the file to. The URL is valid for fifteen

        minutes and the object lands under `uploads/{shop_id}/{upload_id}/{nonce}/`.

        '
      operationId: createCostUpload
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - filename
              - content_type
              - size_bytes
              properties:
                filename:
                  type: string
                  maxLength: 255
                content_type:
                  type: string
                  enum:
                  - text/csv
                  - application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
                size_bytes:
                  type: integer
                  minimum: 1
                  maximum: 10485760
      responses:
        '201':
          description: Upload created
          content:
            application/json:
              schema:
                type: object
                required:
                - upload
                - upload_url
                - upload_expires_at
                properties:
                  upload:
                    $ref: '#/components/schemas/CostUpload'
                  upload_url:
                    type: string
                    format: uri
                  upload_expires_at:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /shops/{shopId}/cost-uploads/{uploadId}:
    get:
      tags:
      - Costs
      summary: Upload status and suggested column mapping
      description: 'Traces CST-2. Once the file is uploaded, the columns are read and a mapping is

        suggested from the headers. The suggestion is a proposal, never applied without

        confirmation.

        '
      operationId: getCostUpload
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - $ref: '#/components/parameters/UploadId'
      responses:
        '200':
          description: The upload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostUpload'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
        '404':
          $ref: '#/components/responses/NotFound'
  /shops/{shopId}/cost-uploads/{uploadId}/mapping:
    put:
      tags:
      - Costs
      summary: Confirm the column mapping
      description: 'Traces CST-2. The seller confirms which column is which.


        `match_on` is required and has no default. TikTok''s order line items returned an

        empty `seller_sku` on the sandbox shop, so seller SKU cannot be assumed to exist.

        Forcing the choice at this point surfaces the problem while the seller is looking

        at their own file, rather than as a pile of unmatched rows afterwards.

        '
      operationId: putCostUploadMapping
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - $ref: '#/components/parameters/UploadId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ColumnMapping'
      responses:
        '200':
          description: Mapping confirmed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostUpload'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /shops/{shopId}/skus/{skuId}/cost:
    put:
      tags:
      - Costs
      summary: Set a cost manually
      description: 'Traces CST-1, CST-4 and CST-5. Costs are never overwritten. Setting a new cost

        supersedes the previous one with a `superseded_at` stamp, so a figure calculated

        last month still reconciles against the cost in force at the time.

        '
      operationId: putSkuCost
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - $ref: '#/components/parameters/SkuId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - cost
              properties:
                cost:
                  $ref: '#/components/schemas/Money'
                packing:
                  $ref: '#/components/schemas/Money'
                postage:
                  $ref: '#/components/schemas/Money'
                effective_from:
                  type: string
                  format: date
                  description: Local date. Defaults to today.
      responses:
        '200':
          description: Cost set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCost'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /shops/{shopId}/costs/coverage:
    get:
      tags:
      - Costs
      summary: Cost coverage by product and units
      description: 'Traces CST-6. Coverage is the share of sold units whose cost is known. It is the

        gate on every "you keep" figure: below full coverage those figures return null

        with a reason rather than understating the cost and overstating what was kept.

        '
      operationId: getCostCoverage
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - $ref: '#/components/parameters/PeriodFrom'
      - $ref: '#/components/parameters/PeriodTo'
      responses:
        '200':
          description: Coverage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCoverage'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
  /shops/{shopId}/discrepancies:
    get:
      tags:
      - Integrity
      summary: Open and resolved discrepancies
      description: Traces DSC-5.
      operationId: listDiscrepancies
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      - name: status
        in: query
        schema:
          type: string
          enum:
          - open
          - resolved
      - name: kind
        in: query
        schema:
          type: string
          enum:
          - product_code
          - order_reference
          - transaction_reference
          - amount
          - return_unmatched
          - duplicate
      responses:
        '200':
          description: Discrepancies
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CursorPage'
                - type: object
                  required:
                  - discrepancies
                  properties:
                    discrepancies:
                      type: array
                      items:
                        $ref: '#/components/schemas/Discrepancy'
                    open_count:
                      type: integer
                      minimum: 0
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
  /shops/{shopId}/discrepancies/{discrepancyId}/resolve:
    post:
      tags:
      - Integrity
      summary: Accept, correct or explain a discrepancy
      description: 'Traces DSC-4. Resolving never edits a posted figure. Where a resolution changes

        money, it posts a dated adjustment, because the ledger is append-only and a

        correction that rewrites history destroys the audit trail it exists to provide.

        '
      operationId: resolveDiscrepancy
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - name: discrepancyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - resolution
              properties:
                resolution:
                  type: string
                  enum:
                  - accepted_tiktok
                  - corrected_seller
                  - explained
                note:
                  type: string
                  maxLength: 1000
                applied_value:
                  type:
                  - string
                  - 'null'
                  description: Required when the resolution is `corrected_seller`.
      responses:
        '200':
          description: Resolved
          content:
            application/json:
              schema:
                type: object
                required:
                - discrepancy
                properties:
                  discrepancy:
                    $ref: '#/components/schemas/Discrepancy'
                  adjustment_posted:
                    type:
                    - object
                    - 'null'
                    description: The dated adjustment, where the resolution moved money.
                    properties:
                      ledger_entry_id:
                        type: string
                        format: uuid
                      amount:
                        $ref: '#/components/schemas/Money'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /shops/{shopId}/other-sales/{month}:
    put:
      tags:
      - Tax
      summary: Enter a monthly total from another channel
      description: 'Traces MON-3. Sales made outside TikTok Shop, entered by the seller, so the VAT

        threshold monitor measures total turnover rather than TikTok turnover alone.


        These figures never enter the ledger and never appear in a money view. They exist

        only for the threshold calculation, and mixing them into reported figures would

        make the ledger disagree with TikTok.

        '
      operationId: putOtherChannelSales
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - $ref: '#/components/parameters/Month'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - channel
              - gross
              properties:
                channel:
                  type: string
                  maxLength: 100
                gross:
                  $ref: '#/components/schemas/Money'
      responses:
        '200':
          description: Saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtherChannelSales'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /shops/{shopId}/exports:
    post:
      tags:
      - Exports
      summary: Request an export
      description: 'Traces MON-2. `basis` is required and has no default, because the same period

        produces different figures on a sales basis and a cash basis, and an accountant

        receiving a file that does not say which one it is cannot use it.

        '
      operationId: createExport
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - kind
              - format
              - basis
              - period_start
              - period_end
              properties:
                kind:
                  type: string
                  enum:
                  - month_summary
                  - ledger
                  - transactions
                format:
                  type: string
                  enum:
                  - xlsx
                  - csv
                basis:
                  $ref: '#/components/schemas/Basis'
                period_start:
                  type: string
                  format: date
                period_end:
                  type: string
                  format: date
      responses:
        '202':
          description: Export queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopExportJob'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /shops/{shopId}/exports/{exportId}:
    get:
      tags:
      - Exports
      summary: Export status and signed download URL
      operationId: getExport
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - name: exportId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The export
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopExportJob'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
        '404':
          $ref: '#/components/responses/NotFound'
  /shops/{shopId}/today:
    get:
      tags:
      - Money
      summary: Hero figure, month, shop money and what needs you
      description: Traces DSH-1 and DSH-2.
      operationId: getToday
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - $ref: '#/components/parameters/BasisQuery'
      responses:
        '200':
          description: Today
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TodayView'
        '304':
          $ref: '#/components/responses/NotModified'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
  /shops/{shopId}/money:
    get:
      tags:
      - Money
      summary: The calculator
      description: 'Traces MON-1 and LED-4. Every figure the seller is shown, with every line that

        makes it up.


        **No fee is ever merged with another.** Each line carries its own label, the exact

        TikTok field it came from, and its amount. A fee TikTok returns that MyShopEdge has

        no category for appears as its own line with `category: unmapped_fee` and TikTok''s

        field name kept verbatim, so nothing disappears into an "other" bucket.


        The response is a list of sections, each with lines and a subtotal, and each

        subtotal states which lines produced it. A client renders it without knowing any

        fee name in advance, which is what lets a new TikTok fee appear on screen the day

        it arrives rather than the day someone updates the interface.

        '
      operationId: getMoney
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - $ref: '#/components/parameters/BasisQuery'
      - $ref: '#/components/parameters/PeriodFrom'
      - $ref: '#/components/parameters/PeriodTo'
      - name: granularity
        in: query
        schema:
          type: string
          enum:
          - day
          - week
          - month
          default: month
      responses:
        '200':
          description: The calculator
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoneyView'
        '304':
          $ref: '#/components/responses/NotModified'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
  /shops/{shopId}/money/where-it-went:
    get:
      tags:
      - Money
      summary: Deductions by category and pence per pound
      description: 'Traces LED-8. The same lines as the calculator, expressed as a share of gross

        sales. `pence_per_pound` is an integer of tenths of a penny to avoid a float, so

        4.4 pence is 44.

        '
      operationId: getWhereItWent
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - $ref: '#/components/parameters/BasisQuery'
      - $ref: '#/components/parameters/PeriodFrom'
      - $ref: '#/components/parameters/PeriodTo'
      responses:
        '200':
          description: Where it went
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhereItWent'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
  /shops/{shopId}/payouts/expected:
    get:
      tags:
      - Money
      summary: Unsettled orders by estimated week
      description: 'Traces DSH-2 and LED-5. Read from TikTok''s unsettled orders endpoint. Every figure

        here is an estimate and is labelled as one, because an estimated payout a seller

        treats as confirmed is how a business runs out of cash.

        '
      operationId: getExpectedPayouts
      parameters:
      - $ref: '#/components/parameters/ShopId'
      responses:
        '200':
          description: Expected payouts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpectedPayouts'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
  /shops/{shopId}/velocity:
    get:
      tags:
      - Money
      summary: Average daily sales and net proceeds
      description: Traces DSH-3.
      operationId: getVelocity
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - $ref: '#/components/parameters/BasisQuery'
      - name: window_days
        in: query
        schema:
          type: integer
          minimum: 7
          maximum: 90
          default: 28
      responses:
        '200':
          description: Velocity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Velocity'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
  /shops/{shopId}/products:
    get:
      tags:
      - Products
      summary: Ranked products
      description: 'Traces DSH-4. Ranked by the chosen measure. The response states the total across

        all products and the total shown, so a table displaying the top ten can say what

        the other products came to rather than leaving the figures not to add up.

        '
      operationId: listProducts
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - $ref: '#/components/parameters/BasisQuery'
      - $ref: '#/components/parameters/PeriodFrom'
      - $ref: '#/components/parameters/PeriodTo'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      - name: measure
        in: query
        schema:
          type: string
          enum:
          - kept
          - net_proceeds
          - gross_sales
          - units
          - returns
          default: kept
      responses:
        '200':
          description: Ranked products
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductRanking'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
  /shops/{shopId}/products/{productId}:
    get:
      tags:
      - Products
      summary: One product, with breakdown, stock and returns
      description: Traces DSH-5. Includes the one-unit breakdown.
      operationId: getProduct
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - name: productId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/BasisQuery'
      - $ref: '#/components/parameters/PeriodFrom'
      - $ref: '#/components/parameters/PeriodTo'
      responses:
        '200':
          description: The product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetail'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
        '404':
          $ref: '#/components/responses/NotFound'
  /shops/{shopId}/insights:
    get:
      tags:
      - Products
      summary: Rule-based insights with evidence
      description: 'Traces DSH-6. Every insight carries the rule that produced it and the figures it

        was based on. An insight a seller cannot check is an assertion, and this product

        does not make assertions about someone else''s money.

        '
      operationId: getInsights
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - $ref: '#/components/parameters/BasisQuery'
      responses:
        '200':
          description: Insights
          content:
            application/json:
              schema:
                type: object
                required:
                - as_of
                - insights
                properties:
                  as_of:
                    type: string
                    format: date-time
                  insights:
                    type: array
                    items:
                      $ref: '#/components/schemas/Insight'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
  /shops/{shopId}/trends:
    get:
      tags:
      - Money
      summary: Twelve-month bars
      description: Traces DSH-7.
      operationId: getTrends
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - $ref: '#/components/parameters/BasisQuery'
      - name: measure
        in: query
        schema:
          type: string
          enum:
          - gross_sales
          - net_proceeds
          - kept
          - units
          default: net_proceeds
      responses:
        '200':
          description: Trends
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trends'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
  /shops/{shopId}/records:
    get:
      tags:
      - Integrity
      summary: The records behind a figure
      description: 'Traces DSH-8. Every figure in the product can be opened to the ledger entries

        behind it. The sum of the entries returned equals the figure, and the response

        states both so a mismatch is visible rather than silent.

        '
      operationId: getRecords
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - $ref: '#/components/parameters/BasisQuery'
      - $ref: '#/components/parameters/PeriodFrom'
      - $ref: '#/components/parameters/PeriodTo'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      - name: category
        in: query
        schema:
          $ref: '#/components/schemas/LedgerCategory'
      - name: entry_type
        in: query
        schema:
          type: string
          enum:
          - sale
          - platform_deduction
          - refund
          - payout
          - return_cost
          - write_off
          - adjustment
          - reserve
      - name: sku_id
        in: query
        schema:
          type: string
          format: uuid
      - name: product_id
        in: query
        description: Every entry for a product, across all of its variants.
        schema:
          type: string
          format: uuid
      - name: order_id
        in: query
        schema:
          type: string
          format: uuid
      - name: return_id
        in: query
        description: The entries a return produced, its refund and its costs together.
        schema:
          type: string
          format: uuid
      - name: settlement_id
        in: query
        description: The entries behind one statement, which is what the payout screen links to.
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Records
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CursorPage'
                - type: object
                  required:
                  - entries
                  - total
                  - shown_total
                  properties:
                    entries:
                      type: array
                      items:
                        $ref: '#/components/schemas/LedgerEntry'
                    total:
                      allOf:
                      - $ref: '#/components/schemas/Money'
                      description: The figure being drilled into.
                    shown_total:
                      allOf:
                      - $ref: '#/components/schemas/Money'
                      description: The sum of the entries on this page.
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
  /shops/{shopId}/needs-you:
    get:
      tags:
      - Integrity
      summary: Ordered action list
      description: Traces DSH-10. What the seller has to do, most consequential first.
      operationId: getNeedsYou
      parameters:
      - $ref: '#/components/parameters/ShopId'
      responses:
        '200':
          description: Actions
          content:
            application/json:
              schema:
                type: object
                required:
                - as_of
                - items
                properties:
                  as_of:
                    type: string
                    format: date-time
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/NeedsYouItem'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
  /shops/{shopId}/stock:
    get:
      tags:
      - Stock
      summary: Stock states and days left
      description: Traces STK-1 and STK-2.
      operationId: getStock
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      - name: state
        in: query
        schema:
          type: string
          enum:
          - healthy
          - low
          - out
          - coming_back
      responses:
        '200':
          description: Stock
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CursorPage'
                - type: object
                  required:
                  - as_of
                  - items
                  properties:
                    as_of:
                      type: string
                      format: date-time
                    items:
                      type: array
                      items:
                        $ref: '#/components/schemas/StockPosition'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
  /shops/{shopId}/stock/{skuId}/movements:
    get:
      tags:
      - Stock
      summary: Movement ledger for a SKU
      description: Traces STK-4.
      operationId: getStockMovements
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - $ref: '#/components/parameters/SkuId'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Movements
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CursorPage'
                - type: object
                  required:
                  - movements
                  properties:
                    movements:
                      type: array
                      items:
                        $ref: '#/components/schemas/StockMovement'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
  /shops/{shopId}/stock/{skuId}/adjustments:
    post:
      tags:
      - Stock
      summary: Record a manual stock adjustment
      description: 'Traces STK-4. A reason is required and the constraint is enforced in the database,

        not only here.


        **This does not write to TikTok.** PRD 6.2 excludes writing stock or any data back

        to TikTok Shop. The adjustment moves `adjusted_delta` in MyShopEdge only, and

        TikTok''s own figure is left untouched.

        '
      operationId: createStockAdjustment
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - $ref: '#/components/parameters/SkuId'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - quantity
              - reason
              properties:
                quantity:
                  type: integer
                  description: Signed. Negative removes units.
                reason:
                  type: string
                  minLength: 1
                  maxLength: 500
      responses:
        '201':
          description: Adjustment recorded
          content:
            application/json:
              schema:
                type: object
                required:
                - movement
                - position
                properties:
                  movement:
                    $ref: '#/components/schemas/StockMovement'
                  position:
                    $ref: '#/components/schemas/StockPosition'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /shops/{shopId}/returns:
    get:
      tags:
      - Returns
      summary: Returns by status
      description: Traces RET-1.
      operationId: listReturns
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      - name: kind
        in: query
        schema:
          type: string
          enum:
          - cancellation
          - refund_only
          - return_refund
      - name: awaiting_check
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Returns
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CursorPage'
                - type: object
                  required:
                  - returns
                  properties:
                    returns:
                      type: array
                      items:
                        $ref: '#/components/schemas/ReturnSummary'
                    awaiting_check_count:
                      type: integer
                      minimum: 0
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
  /shops/{shopId}/return-items/{returnItemId}/check:
    post:
      tags:
      - Returns
      summary: Confirm receipt, condition and postage
      description: 'Traces RET-3 and RET-4. The seller says whether the goods came back usable.


        A resellable item produces exactly one stock movement. An unsellable item produces

        a write-off and no stock movement. A refund with no goods coming back must produce

        neither. `return_reconciliation` checks that afterwards, and any other combination

        is a defect under REC-2.

        '
      operationId: checkReturnItem
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - name: returnItemId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - seller_check_status
              properties:
                seller_check_status:
                  type: string
                  enum:
                  - resellable
                  - unsellable
                  - not_applicable
                return_postage:
                  allOf:
                  - $ref: '#/components/schemas/Money'
                  description: What the seller paid to get the goods back, if anything.
      responses:
        '200':
          description: Checked
          content:
            application/json:
              schema:
                type: object
                required:
                - item
                - stock_movements_created
                properties:
                  item:
                    $ref: '#/components/schemas/ReturnItem'
                  stock_movements_created:
                    type: integer
                    minimum: 0
                    maximum: 1
                  write_off:
                    allOf:
                    - $ref: '#/components/schemas/Money'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
        '409':
          description: This item has already been checked. Checking is one way.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /shops/{shopId}/returns/metrics:
    get:
      tags:
      - Returns
      summary: Return rate, most returned, total return cost
      description: Traces RET-6.
      operationId: getReturnMetrics
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - $ref: '#/components/parameters/PeriodFrom'
      - $ref: '#/components/parameters/PeriodTo'
      responses:
        '200':
          description: Metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnMetrics'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
  /shops/{shopId}/summary/{month}:
    get:
      tags:
      - Money
      summary: Month summary
      description: Traces LED-6.
      operationId: getMonthSummary
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - $ref: '#/components/parameters/Month'
      - $ref: '#/components/parameters/BasisQuery'
      responses:
        '200':
          description: The month
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoneyView'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
  /shops/{shopId}/tax/vat:
    get:
      tags:
      - Tax
      summary: VAT threshold monitor
      description: 'Traces TAX-2. Measures rolling twelve-month turnover against the registration

        threshold, including other-channel sales the seller entered.


        This monitors a threshold. It does not prepare or submit a VAT return, and it

        does not account for VAT on behalf of a registered seller. PRD 6.2 excludes both.

        '
      operationId: getVatMonitor
      parameters:
      - $ref: '#/components/parameters/ShopId'
      responses:
        '200':
          description: VAT monitor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VatMonitor'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
  /shops/{shopId}/tax/set-aside:
    get:
      tags:
      - Tax
      summary: Set-aside estimate
      description: 'Traces TAX-3. An estimate of what to put by, returned only when the tax profile

        and cost coverage are complete enough to produce one.


        When they are not, `amount` is null with a reason. A tax set-aside figure built on

        incomplete costs would be too low, and a seller who under-saves on this product''s

        advice has been failed by it.

        '
      operationId: getSetAside
      parameters:
      - $ref: '#/components/parameters/ShopId'
      responses:
        '200':
          description: Set-aside
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetAside'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
  /shops/{shopId}/settlements:
    get:
      operationId: listSettlements
      summary: The statements TikTok has issued
      description: 'Each row states what the statement says, what was withheld as a reserve,

        and what will actually reach the bank. Those three figures differ whenever

        TikTok holds funds, and a seller who sees only the first will believe they

        have been underpaid.

        '
      tags:
      - Money
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - $ref: '#/components/parameters/PeriodFrom'
      - $ref: '#/components/parameters/PeriodTo'
      - name: payment_status
        in: query
        schema:
          type: string
          enum:
          - PAID
          - PROCESSING
          - FAILED
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Statements, most recent first
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/CursorPage'
                - type: object
                  required:
                  - settlements
                  properties:
                    settlements:
                      type: array
                      items:
                        $ref: '#/components/schemas/Settlement'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
  /shops/{shopId}/settlements/{settlementId}:
    get:
      operationId: getSettlement
      summary: One statement, and whether it reconciles
      description: 'Carries the reconciliation the product exists to perform. `unexplained_minor`

        compares the statement against the entries derived from the orders behind it.

        A non-zero value is the defect this product is built to catch, and it is shown

        to the seller rather than hidden.

        '
      tags:
      - Money
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - name: settlementId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The statement and its reconciliation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettlementDetail'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
        '404':
          $ref: '#/components/responses/NotFound'
  /shops/{shopId}/settlements/{settlementId}/invoice:
    put:
      operationId: recordSettlementInvoice
      summary: Record the TikTok fee invoice number
      description: 'No TikTok finance endpoint returns the fee invoice number. It appears

        in Seller Center under Finance, Bills, Invoice, and the seller enters it

        here so the statement can be tied to the document their accountant will ask

        for. This endpoint exists because the API has no path to it, not because

        typing is preferred.

        '
      tags:
      - Money
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - name: settlementId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - invoice_number
              properties:
                invoice_number:
                  type: string
                  maxLength: 64
                gross:
                  $ref: '#/components/schemas/Money'
                net:
                  $ref: '#/components/schemas/Money'
                vat:
                  $ref: '#/components/schemas/Money'
      responses:
        '200':
          description: Recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settlement'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /shops/{shopId}/other-sales:
    get:
      operationId: listOtherChannelSales
      summary: Monthly sales entered from outside TikTok
      description: 'S24 shows the months already entered. Without this the screen can write

        a month and cannot read one back.

        '
      tags:
      - Money
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - $ref: '#/components/parameters/PeriodFrom'
      - $ref: '#/components/parameters/PeriodTo'
      responses:
        '200':
          description: Months entered
          content:
            application/json:
              schema:
                type: object
                required:
                - months
                properties:
                  months:
                    type: array
                    items:
                      $ref: '#/components/schemas/OtherChannelMonth'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
  /shops/{shopId}/cost-uploads/{uploadId}/match:
    post:
      operationId: matchCostUpload
      summary: Match the rows of an upload to SKUs
      description: 'Matching never creates a SKU. SKUs exist because TikTok returned them.

        A row naming a SKU TikTok has not returned is reported as unmatched and is

        left alone. Where TikTok returns an empty `seller_sku`, no value is invented:

        matching falls back to TikTok''s own `sku_id`, and failing that the seller

        attaches the cost by hand on S20 or S21. Nothing is applied by this call.

        '
      tags:
      - Costs
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - $ref: '#/components/parameters/UploadId'
      - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: The match result, for the seller to review
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostMatchResult'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /shops/{shopId}/cost-uploads/{uploadId}/apply:
    post:
      operationId: applyCostUpload
      summary: Apply the matched rows
      description: 'Applies only the rows the seller confirmed. Unmatched and duplicate rows

        stay unapplied and stay visible. Nothing is applied before this call.

        '
      tags:
      - Costs
      parameters:
      - $ref: '#/components/parameters/ShopId'
      - $ref: '#/components/parameters/UploadId'
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - apply_row_ids
              properties:
                apply_row_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
      responses:
        '200':
          description: Applied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostMatchResult'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/ForbiddenShop'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /billing/plans:
    get:
      operationId: listPlans
      summary: The plans on sale
      description: 'The price is served by the API rather than held in the client, so a

        price change does not require a client release. A plan lists only what the

        product does today.

        '
      tags:
      - Billing
      security: []
      responses:
        '200':
          description: Plans
          content:
            application/json:
              schema:
                type: object
                required:
                - trial_days
                - plans
                properties:
                  trial_days:
                    type: integer
                    example: 14
                  plans:
                    type: array
                    items:
                      $ref: '#/components/schemas/Plan'
  /billing/subscription:
    get:
      operationId: getSubscription
      summary: The account's subscription
      tags:
      - Billing
      responses:
        '200':
          description: The subscription, or null before one exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '401':
          $ref: '#/components/responses/Unauthenticated'
    post:
      operationId: startTrial
      summary: Start the free trial and verify the card
      description: 'Creates a subscription with a trial and no charge. The response carries

        the client secret of a SetupIntent, and confirming that intent in the browser

        is where Strong Customer Authentication happens. The mandate recorded at that

        moment is what allows the first charge after the trial to be taken off session.

        A trial that reaches its end with no usable card is cancelled rather than left

        owing.


        The request names a plan. It never carries a price, because a client that could

        name a price could name the wrong one.

        '
      tags:
      - Billing
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - plan
              properties:
                plan:
                  type: string
                  enum:
                  - starter
                  - growth
                  - pro
      responses:
        '200':
          description: The trial has started, or a card is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrialStart'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          description: The card was declined
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '422':
          $ref: '#/components/responses/ValidationFailed'
  /webhooks/stripe:
    post:
      operationId: receiveStripeWebhook
      summary: Stripe events
      description: 'Authenticated by the Stripe signature header rather than by a bearer

        token, which is why the security requirement is empty. The events that matter

        are `invoice.payment_failed`, which is what moves an account towards suspended,

        and `customer.subscription.updated` and `customer.subscription.deleted`.

        Delivery is at least once, so every handler is idempotent on the event id.

        '
      tags:
      - Billing
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Received
        '400':
          description: The signature did not verify
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'A JWT from the identity provider, verified against its JWKS endpoint. The account

        is resolved from the `sub` claim against `accounts.auth_subject`, never from

        anything the client sends. Any `shopId` in a path is checked against that account

        before the query runs, and a shop belonging to another account returns 403 rather

        than 404, because the shop does exist and pretending otherwise helps nobody.

        '
  parameters:
    ShopId:
      name: shopId
      in: path
      required: true
      description: The MyShopEdge shop identifier, not the TikTok shop id.
      schema:
        type: string
        format: uuid
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: 'A client-generated key. A repeat with the same key returns the first result rather

        than acting twice. Keys are retained for 24 hours.

        '
      schema:
        type: string
        minLength: 8
        maxLength: 128
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    Cursor:
      name: cursor
      in: query
      description: The `next_cursor` from a previous response. Opaque, do not parse.
      schema:
        type: string
    UploadId:
      name: uploadId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    SkuId:
      name: skuId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    Month:
      name: month
      in: path
      required: true
      description: Local month in Europe/London, as YYYY-MM.
      schema:
        type: string
        pattern: ^\d{4}-(0[1-9]|1[0-2])$
    PeriodFrom:
      name: from
      in: query
      description: Local date, Europe/London. Inclusive.
      schema:
        type: string
        format: date
    PeriodTo:
      name: to
      in: query
      description: Local date, Europe/London. Inclusive.
      schema:
        type: string
        format: date
    BasisQuery:
      name: basis
      in: query
      description: 'Required in effect. Defaults to `sales`, and the response always states which basis

        it used, so a client that forgets to ask still knows what it received.

        '
      schema:
        type: string
        enum:
        - sales
        - cash
        default: sales
  headers:
    ETag:
      description: Entity tag. Send back as `If-None-Match` to receive 304 when unchanged.
      schema:
        type: string
    RateLimitRemaining:
      description: Requests remaining in the current window.
      schema:
        type: integer
    RetryAfter:
      description: Seconds to wait before retrying.
      schema:
        type: integer
  responses:
    NotModified:
      description: Unchanged since the supplied ETag.
    Unauthenticated:
      description: No token, an invalid token, or an expired one.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    ForbiddenShop:
      description: The shop exists but does not belong to this account.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    NotFound:
      description: No such resource.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    ValidationFailed:
      description: 'The request was well formed but its contents were rejected. `errors` names the

        offending fields so the interface can mark them rather than showing one message.

        '
      content:
        application/problem+json:
          schema:
            allOf:
            - $ref: '#/components/schemas/Problem'
            - type: object
              properties:
                errors:
                  type: array
                  items:
                    type: object
                    required:
                    - field
                    - message
                    properties:
                      field:
                        type: string
                      message:
                        type: string
    RateLimited:
      description: Too many requests.
      headers:
        Retry-After:
          $ref: '#/components/headers/RetryAfter'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  schemas:
    Settlement:
      type: object
      description: 'One TikTok statement. Three money figures sit side by side on purpose.

        `statement_amount` is what the statement says, `total_reserve` is what TikTok

        withheld under its reserve policy, and `payable_amount` is what reaches the

        bank. Only the last one will match the seller''s bank line.

        '
      required:
      - id
      - tiktok_statement_id
      - statement_time
      - activity_date
      - payment_status
      - statement_amount
      properties:
        id:
          type: string
          format: uuid
        tiktok_statement_id:
          type: string
        tiktok_payment_id:
          type: [string, 'null']
        settlement_reference:
          type: [string, 'null']
          description: 'The reference on the seller''s bank line. No TikTok endpoint returns
            it, so it is null until bank reconciliation comes into scope.'
        statement_time:
          type: string
          format: date-time
        activity_date:
          type: string
          format: date
          description: The London day the statement covers, which is the day before statement_time.
        paid_at:
          type: [string, 'null']
          format: date-time
        payment_status:
          type: string
          enum:
          - PAID
          - PROCESSING
          - FAILED
        statement_amount:
          $ref: '#/components/schemas/Money'
        total_reserve:
          allOf:
          - $ref: '#/components/schemas/Money'
          description: Negative where funds are withheld, positive where they are released.
        payable_amount:
          allOf:
          - $ref: '#/components/schemas/Money'
          description: What TikTok will actually pay. Null where TikTok returned no value.
        tiktok_invoice_number:
          type: [string, 'null']
    SettlementComponents:
      type: object
      description: The four figures the statement is made of, as TikTok states them.
      required:
      - net_sales
      - fees
      - shipping_cost
      - adjustments
      properties:
        net_sales:
          $ref: '#/components/schemas/Money'
        fees:
          $ref: '#/components/schemas/Money'
        shipping_cost:
          $ref: '#/components/schemas/Money'
        adjustments:
          $ref: '#/components/schemas/Money'
        difference:
          allOf:
          - $ref: '#/components/schemas/Money'
          description: 'The statement total less the sum of its components. Anything other
            than zero means TikTok''s own statement does not add up.'
        region_mapping_conflict:
          type: boolean
          description: 'True when the statement carries both a local and a cross-border
            shape, which means the region branch chose wrongly.'
    SettlementDetail:
      type: object
      required:
      - settlement
      - components
      - reconciliation
      properties:
        settlement:
          $ref: '#/components/schemas/Settlement'
        components:
          $ref: '#/components/schemas/SettlementComponents'
        reconciliation:
          $ref: '#/components/schemas/SettlementReconciliation'
        orders:
          type: array
          description: The orders this statement settled.
          items:
            type: object
            required:
            - order_id
            - tiktok_order_id
            properties:
              order_id:
                type: string
                format: uuid
              tiktok_order_id:
                type: string
              settled:
                $ref: '#/components/schemas/Money'
    SettlementReconciliation:
      type: object
      description: 'Whether the payout agrees with the orders behind it. A reserve is not

        one of the statement''s components, so it is excluded from net_proceeds and

        reported separately. A statement can reconcile exactly and still pay less than

        it states.

        '
      required:
      - orders_settled
      - net_proceeds
      - unexplained
      properties:
        orders_settled:
          type: integer
        net_proceeds:
          allOf:
          - $ref: '#/components/schemas/Money'
          description: The sum of the ledger entries carrying this settlement, excluding
            the payout and any reserve.
        invoiced_gross:
          $ref: '#/components/schemas/Money'
        unexplained:
          allOf:
          - $ref: '#/components/schemas/Money'
          description: 'Zero on a statement that agrees with its orders. Anything else is
            shown to the seller rather than hidden.'
    OtherChannelMonth:
      type: object
      required:
      - month
      - amount
      properties:
        month:
          type: string
          format: date
          description: The first day of the London month.
        amount:
          $ref: '#/components/schemas/Money'
        updated_at:
          type: string
          format: date-time
    CostUploadSummary:
      type: object
      required:
      - id
      - filename
      - status
      - uploaded_at
      properties:
        id:
          type: string
          format: uuid
        filename:
          type: string
        status:
          type: string
          enum:
          - uploaded
          - mapped
          - matched
          - applied
          - failed
        uploaded_at:
          type: string
          format: date-time
        rows_total:
          type: integer
        rows_matched:
          type: integer
        rows_unmatched:
          type: integer
        rows_duplicate:
          type: integer
    CostMatchResult:
      type: object
      required:
      - upload_id
      - rows_total
      - rows_matched
      - rows_unmatched
      - rows_duplicate
      - rows
      properties:
        upload_id:
          type: string
          format: uuid
        rows_total:
          type: integer
        rows_matched:
          type: integer
        rows_unmatched:
          type: integer
        rows_duplicate:
          type: integer
        rows:
          type: array
          items:
            type: object
            required:
            - row_id
            - outcome
            properties:
              row_id:
                type: string
                format: uuid
              outcome:
                type: string
                enum:
                - matched
                - unmatched
                - duplicate
              matched_on:
                type: [string, 'null']
                enum:
                - seller_sku
                - tiktok_sku_id
                - null
                description: 'Which key matched. Null on an unmatched row. No SKU is ever
                  created by a cost upload.'
              sku_id:
                type: [string, 'null']
                format: uuid
              seller_sku:
                type: [string, 'null']
              unit_cost:
                $ref: '#/components/schemas/Money'
              reason:
                type: [string, 'null']
                description: Why the row did not match, in words a seller can act on.
    Plan:
      type: object
      required:
      - slug
      - name
      - strapline
      - price
      - order_limit
      - history_months
      - features
      properties:
        slug:
          type: string
          enum:
          - starter
          - growth
          - pro
        name:
          type: string
        strapline:
          type: string
        price:
          $ref: '#/components/schemas/Money'
        order_limit:
          type: integer
        history_months:
          type: integer
        features:
          type: array
          items:
            type: string
        highlight:
          type: boolean
    Subscription:
      type: object
      required:
      - status
      properties:
        status:
          type: string
          enum:
          - none
          - trialing
          - active
          - past_due
          - canceled
        plan:
          type: [string, 'null']
          enum:
          - starter
          - growth
          - pro
          - null
        trial_ends_at:
          type: [string, 'null']
          format: date-time
        current_period_end:
          type: [string, 'null']
          format: date-time
        card_last4:
          type: [string, 'null']
        cancel_at_period_end:
          type: boolean
    TrialStart:
      type: object
      required:
      - status
      - subscription_id
      properties:
        status:
          type: string
          enum:
          - requires_card
          - trialing
        subscription_id:
          type: string
        trial_ends_at:
          type: [string, 'null']
          format: date-time
        client_secret:
          type: [string, 'null']
          description: 'The SetupIntent to confirm in the browser. Null when the account
            already has a usable card and the trial has started.'
    Money:
      type: object
      description: 'An amount in integer minor units with its currency. Never a decimal, never a

        float. 20.84 pounds is `{"amount_minor": 2084, "currency": "GBP"}`.

        '
      required:
      - amount_minor
      - currency
      properties:
        amount_minor:
          type: integer
          format: int64
          examples:
          - 2084
        currency:
          type: string
          minLength: 3
          maxLength: 3
          examples:
          - GBP
    Problem:
      type: object
      description: RFC 9457 problem details, with a stable machine-readable `code`.
      required:
      - type
      - title
      - status
      - code
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
          description: Human readable. Wording may change.
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
        code:
          type: string
          description: 'The contract. Clients branch on this, never on `title` or `status` alone.

            '
          enum:
          - unauthenticated
          - token_expired
          - forbidden_shop
          - not_found
          - validation_failed
          - conflict
          - idempotency_key_conflict
          - rate_limited
          - shop_needs_reconnect
          - shop_region_unsupported
          - upstream_unavailable
          - internal_error
    Confidence:
      type: string
      description: 'How far a figure can be trusted. `confirmed` means every input is settled.

        `estimated` means at least one input is a projection. `incomplete` means a

        required input is missing, and the figure it describes will be null.

        '
      enum:
      - confirmed
      - estimated
      - incomplete
    Basis:
      type: string
      description: '`sales` recognises money when the sale happens. `cash` recognises it when TikTok

        pays out. A figure without a basis is meaningless, so every period figure states it.

        '
      enum:
      - sales
      - cash
    Period:
      type: object
      required:
      - from
      - to
      - basis
      properties:
        from:
          type: string
          format: date
          description: Local date
          Europe/London.: null
        to:
          type: string
          format: date
          description: Local date
          Europe/London. Inclusive.: null
        basis:
          $ref: '#/components/schemas/Basis'
    CursorPage:
      type: object
      required:
      - next_cursor
      properties:
        next_cursor:
          type:
          - string
          - 'null'
          description: Null when there is no further page.
    Account:
      type: object
      required:
      - id
      - email
      - locale
      - timezone
      - status
      - created_at
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        display_name:
          type:
          - string
          - 'null'
        locale:
          type: string
          default: en-GB
        timezone:
          type: string
          default: Europe/London
          description: 'The seller''s reporting timezone. The MVP fixes this at Europe/London, because

            every period figure and every VAT quarter is derived in it.

            '
        status:
          type: string
          enum:
          - active
          - suspended
          - deleted
        created_at:
          type: string
          format: date-time
        tax_profile_completed:
          type: boolean
        shop_count:
          type: integer
          minimum: 0
    Shop:
      type: object
      required:
      - id
      - platform
      - tiktok_shop_id
      - region
      - currency
      - connection_status
      properties:
        id:
          type: string
          format: uuid
        platform:
          type: string
          const: tiktok_shop
        tiktok_shop_id:
          type: string
        tiktok_shop_code:
          type: string
          description: The code shown in Seller Center, for example IDLCFNWM88. Display only.
        shop_name:
          type:
          - string
          - 'null'
        region:
          type: string
          minLength: 2
          maxLength: 2
          description: 'ISO country code from TikTok. The MVP reads `GB` correctly. Any other region

            returns a different finance field set and is refused at connection time.

            '
        seller_type:
          type:
          - string
          - 'null'
          enum:
          - LOCAL
          - CROSS_BORDER
          - null
          description: 'TikTok''s own value. A cross-border seller returns import VAT and customs fields

            in place of `local_vat_amount`, so this changes the mapping as much as region does.

            '
        currency:
          type: string
          minLength: 3
          maxLength: 3
        connection_status:
          type: string
          enum:
          - pending
          - connected
          - needs_reconnect
          - disconnected
        first_synced_at:
          type:
          - string
          - 'null'
          format: date-time
        last_synced_at:
          type:
          - string
          - 'null'
          format: date-time
        authorization_expires_at:
          type:
          - string
          - 'null'
          format: date-time
          description: 'When the TikTok authorisation lapses. TikTok warns 30 days ahead through the

            UPCOMING_AUTHORIZATION_EXPIRATION event, and the interface should too.

            '
    ConnectionResult:
      type: object
      required:
      - shop
      - accepted
      properties:
        shop:
          $ref: '#/components/schemas/Shop'
        accepted:
          type: boolean
          description: 'False when the shop authorised successfully but its region or seller type is

            outside what the MVP can read correctly. The tokens are stored, the shop is

            listed, and no figures are produced.

            '
        rejection_reason:
          type:
          - string
          - 'null'
          enum:
          - region_unsupported
          - seller_type_unsupported
          - null
        return_to:
          type:
          - string
          - 'null'
          format: uri
    SyncStatus:
      type: object
      required:
      - shop_id
      - as_of
      - domains
      properties:
        shop_id:
          type: string
          format: uuid
        as_of:
          type: string
          format: date-time
        overall:
          type: string
          enum:
          - healthy
          - degraded
          - failed
          - needs_reconnect
        domains:
          type: array
          items:
            type: object
            required:
            - domain
            - status
            - stale
            properties:
              domain:
                type: string
                enum:
                - orders
                - products
                - inventory
                - finance
                - returns
              status:
                type: string
                enum:
                - scheduled
                - fetching
                - persisting
                - processing
                - completed
                - retry_wait
                - failed
                - needs_reconnect
              last_success_at:
                type:
                - string
                - 'null'
                format: date-time
              stale:
                type: boolean
                description: 'True when the newest success is older than this domain''s expected

                  interval. Figures drawn from a stale domain must be labelled, not shown

                  as current.

                  '
              records_written:
                type: integer
                minimum: 0
              attempt:
                type: integer
                minimum: 0
              backfill_progress:
                type:
                - number
                - 'null'
                minimum: 0
                maximum: 1
    Notification:
      type: object
      required:
      - id
      - type
      - severity
      - title
      - status
      - created_at
      properties:
        id:
          type: string
          format: uuid
        shop_id:
          type:
          - string
          - 'null'
          format: uuid
        type:
          type: string
        severity:
          type: string
          enum:
          - info
          - warning
          - critical
        title:
          type: string
        body:
          type:
          - string
          - 'null'
        entity_type:
          type:
          - string
          - 'null'
        entity_id:
          type:
          - string
          - 'null'
          format: uuid
        status:
          type: string
          enum:
          - unread
          - read
          - done
        created_at:
          type: string
          format: date-time
    TaxProfileInput:
      type: object
      properties:
        business_structure:
          type:
          - string
          - 'null'
          enum:
          - sole_trader
          - company
          - not_sure
          - null
        vat_registered:
          type: boolean
          default: false
        vat_registered_from:
          type:
          - string
          - 'null'
          format: date
          description: Required when `vat_registered` is true.
    TaxProfile:
      allOf:
      - $ref: '#/components/schemas/TaxProfileInput'
      - type: object
        required:
        - completed
        - updated_at
        properties:
          completed:
            type: boolean
            description: False for an account that has not filled the profile in.
          updated_at:
            type:
            - string
            - 'null'
            format: date-time
    TaxDates:
      type: object
      required:
      - tax_year
      - dates
      properties:
        tax_year:
          type: integer
        dates:
          type: array
          items:
            type: object
            required:
            - label
            - date
            - rule_key
            properties:
              label:
                type: string
              date:
                type: string
                format: date
                description: Local date
                Europe/London.: null
              rule_key:
                type: string
              reviewed_at:
                type:
                - string
                - 'null'
                format: date
                description: 'When this rule was last checked against its source. A date the seller

                  cannot see the provenance of is a date they should not rely on.

                  '
              source_url:
                type:
                - string
                - 'null'
                format: uri
    QuarterlyCheck:
      type: object
      required:
      - tax_year
      - prior_year_gross
      - thresholds
      - checked_at
      properties:
        tax_year:
          type: integer
        prior_year_gross:
          $ref: '#/components/schemas/Money'
        thresholds:
          type: array
          items:
            type: object
[...]
